<section id="secQtype" class="single-sukhn-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="single-sukhn-block">
                    <div class="single-sukhn-inner">
                        <div class="single-sukhn-head d-flex align-items-center justify-content-between">
                            <div class="sukhn-head-left">
                                <h4 class="fs-24 text-primary">QURAN AL-MAJID</h4>
                                <p class="sukhn-speaker">JUZ {{dataCollection['arabic'].chapterNumber}} - {{dataCollection['arabic'].chapterName}}, AYAT {{dataCollection['arabic'].verseId}}
                                </p>
                               
                            </div>

                            <div class="sukhn-head-right">
                                <div class="sukhn-list-icon fs-24 text-white">{{(dataCollection['arabic'].verseId)-1}}</div>
                            </div>
                        </div>

                        <div class="sukh-main-area">
                            <div class="single-sukhn-sec single-sukhn-arabic font-amiri fs-32"
                                [class.active]="clickText == 'sukhnArabic'" type="button" id="sukhnArabic"
                                (click)="copyToClipboard('sukhnArabic')" (mouseover)="changeStyle($event)"
                                (mouseleave)="mouseLeave()">
                                <span [innerHTML]="dataCollection['arabic'].verseText"></span>
                                <span class="copy-btn">{{copy}}</span>
                            </div>

                            <!-- [ngClass]="{'font-kanz-ul-marjan' : qType == verseType, 'fs-24' : qType == verseType}" -->
                            <div class="single-sukhn-sec single-sukhn-lsd"
                                type="button" [class.active]="clickText == 'sukhnLsd'" id="sukhnLsd"
                                (click)="copyToClipboard('sukhnLsd')" (mouseover)="changeStyle($event)"
                                (mouseleave)="mouseLeave()">
                                <span [innerHTML]="dataCollection['trans'].verseText"></span>
                                <span class="copy-btn">{{copy}}</span>
                            </div>
                            <div class="single-sukhn-sec single-sukhn-english font-serif text-primary fs-18"
                                [class.active]="clickText == 'sukhnEnglish'" type="button" id="sukhnEnglish"
                                (click)="copyToClipboard('sukhnEnglish')" (mouseover)="changeStyle($event)"
                                (mouseleave)="mouseLeave()">
                                <span [innerHTML]="dataCollection['eng'].verseText"></span>
                                <span class="copy-btn">{{copy}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="single-sukhn-footer d-flex align-items-center justify-content-between">
                        <button class="btn btn-secondary btn-lg cp" (click)="getPage('previous')"
                            [disabled]=" recordNo === 1 ">Previous</button>
                        <button class="btn btn-secondary btn-lg cp" (click)="getPage('next')"
                            [disabled]="config.currentPage === config.totalItems || isNextDisabled">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
