p.question-desc-arabic{
 font-size: 24px !important;   
}

p.question-desc-eng{
    font-size: 24px !important;   
   }

   .text-color{
    color: #5b0000;
   }

   /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}