<section class="search-result-section pb-100 mt-100">
    <div class="container">
        <div class="row justify-content-center admin-head-wrap">
            <div class="col-sm-12 mb-20">
                <h2 class="text-primary text-left font-serif inner-head admin-heading">Al-Ishraaq Dashboard</h2>
                <p class="fs-16">Monitor, Manage, Add, Edit and Delete data from Al-Ishraaq database</p>
            </div>
            <div class="col-12">
                <div class="admin-card-wrapper uploads-wrapper">
                    <div class="admin-card">
                        <div class="details">
                            <h4 class="upload-count">15625</h4>
                            <p>Total Uploads</p>
                        </div>
                        <div class="card-ico">
                            <img src="images/uploads.svg" alt="">
                        </div>
                    </div>
                    <div class="admin-card">
                        <div class="details">
                            <h4 class="upload-count">255689</h4>
                            <p>Qamoos Words</p>
                        </div>
                        <div class="card-ico">
                            <img src="images/qamoos.svg" alt="">
                        </div>
                    </div>
                    <div class="admin-card">
                        <div class="details">
                            <h4 class="upload-count">3</h4>
                            <p>Users</p>
                        </div>
                        <div class="card-ico">
                            <img src="images/users.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="admin-card-wrapper">
                    <div class="admin-card full">
                        <h3 class="dash-title">Tanzil & Aqwaal Mubarakah</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Aayats</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Hadees</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Kalaam</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Aqwaal</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-card-wrapper">
                    <div class="admin-card full">
                        <h3 class="dash-title">Nazam</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Qasaid</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Marasi</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Nasihat</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-card-wrapper">
                    <div class="admin-card full">
                        <h3 class="dash-title">Nathar</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Nathar</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Sahifa</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Kitaab</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Akhbaar</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <a href="#">
                                    <div class="link-tab">
                                        <span>Qamoos</span>
                                        <span class="count">35</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-card-wrapper">
                    <div class="admin-card full">
                        <div class="inner-header">
                            <h2 class="admin-title font-serif">
                                Recent Uploads
                            </h2>
                            <button class="btn btn-primary btn-lg">View All</button>
                        </div>
                        <!-- table -->
                         <table class="inner-table admin-table-qs">
                        <form action="">
                            <!-- headings -->
                            <thead>
                                <tr class="heading-row">
                                    <th class="check-td"> <label class="theme-checkbox-label head-check"
                                            for="head-select">
                                            <input type="checkbox" name="select" id="head-select">
                                            <div class="theme-checkbox"></div>
                                        </label></th>
                                    <th class="s-no">S No.</th>
                                    <th class="author">Author</th>
                                    <th class="qasida">Data</th>
                                    <th class="updated-by">Updated By</th>
                                    <th class="date-time">Date & Time</th>
                                    <th class="action">Action</th>
                                </tr>
                            </thead>


                            <!-- row 1 -->
                            <tbody>
                                <tr>
                                    <td class="check-td">
                                        <label class="theme-checkbox-label" for="select">
                                            <input type="checkbox" name="select" id="select" class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label>
                                    </td>
                                    <td class="s-no">1</td>
                                    <td class="author">Syedena Taher
                                        Saifuddin (RA)</td>
                                    <td class="font-fatemi qasida">اعلم ان اخلائق لو اجتمعوا على ان يعطوك شيئا لم
                                        يرد
                                    </td>
                                    <td class="updated-by">Sh. Mohammed bhai Shmasi</td>
                                    <td class="date-time">12 Oct 2022 <br> 12:36 pm</td>
                                    <td class="action">
                                        <div class="three-dot-wrap click"><img src="images/more_dots.svg">
                                        </div>
                                        <!-- Edit dropdown -->
                                        <div class="tool-dropdown">
                                            <ul>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#edit-qasida">Edit Qasida</li>
                                                <li>Edit Baits</li>
                                                <li>Preview</li>
                                                <li type="button" data-bs-toggle="modal" data-bs-target="#delete">
                                                    Delete
                                                </li>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#unpublish">
                                                    Unpublish</li>
                                            </ul>
                                        </div>
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>
                                <!-- row 2 -->
                                <tr>
                                    <td class="check-td"> <label class="theme-checkbox-label" for="select-2">
                                            <input type="checkbox" name="select" id="select-2"
                                                class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label></td>
                                    <td class="s-no">2</td>
                                    <td class="author">Syedena Taher
                                        Saifuddin (RA)</td>
                                    <td class="font-fatemi qasida">اعلم ان اخلائق لو اجتمعوا على ان يعطوك شيئا لم
                                        يرد
                                    </td>
                                    <td class="updated-by">Sh. Mohammed bhai Shmasi</td>
                                    <td class="date-time">12 Oct 2022 <br> 12:36 pm</td>
                                    <td class="action">
                                        <div class="three-dot-wrap"><img src="images/more_dots.svg">
                                        </div>
                                        <!-- Edit dropdown -->
                                        <!-- <div class="tool-dropdown">
                                        <ul>
                                            <li>Edit Qasida</li>
                                            <li>Edit Baits</li>
                                            <li>Preview</li>
                                            <li>Delete</li>
                                            <li>Unpublish</li>
                                        </ul>
                                    </div> -->
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>
                                <!-- row 2 -->
                                <tr>
                                    <td class="check-td"> <label class="theme-checkbox-label" for="select-3">
                                            <input type="checkbox" name="select" id="select-3"
                                                class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label></td>
                                    <td class="s-no">3</td>
                                    <td class="author">Syedena Taher
                                        Saifuddin (RA)</td>
                                    <td class="font-fatemi qasida">اعلم ان اخلائق لو اجتمعوا على ان يعطوك شيئا لم
                                        يرد
                                    </td>
                                    <td class="updated-by">Sh. Mohammed bhai Shmasi</td>
                                    <td class="date-time">12 Oct 2022 <br> 12:36 pm</td>
                                    <td class="action">
                                        <div class="three-dot-wrap">
                                            <span>Review</span>
                                        </div>
                                        <!-- Edit dropdown -->
                                        <!-- <div class="tool-dropdown">
                                        <ul>
                                            <li>Edit Qasida</li>
                                            <li>Edit Baits</li>
                                            <li>Preview</li>
                                            <li>Delete</li>
                                            <li>Unpublish</li>
                                        </ul>
                                    </div> -->
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>
                                <!-- row 2 -->
                                <tr>
                                    <td class="check-td"> <label class="theme-checkbox-label" for="select-4">
                                            <input type="checkbox" name="select" id="select-4"
                                                class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label></td>
                                    <td class="s-no">4</td>
                                    <td class="author">Syedena Taher
                                        Saifuddin (RA)</td>
                                    <td class="font-fatemi qasida">اعلم ان اخلائق لو اجتمعوا على ان يعطوك شيئا لم
                                        يرد
                                    </td>
                                    <td class="updated-by">Sh. Mohammed bhai Shmasi</td>
                                    <td class="date-time">12 Oct 2022 <br> 12:36 pm</td>
                                    <td class="action">
                                        <div class="three-dot-wrap"><img src="images/more_dots.svg">
                                        </div>
                                        <!-- Edit dropdown -->
                                        <!-- <div class="tool-dropdown">
                                        <ul>
                                            <li>Edit Qasida</li>
                                            <li>Edit Baits</li>
                                            <li>Preview</li>
                                            <li>Delete</li>
                                            <li>Unpublish</li>
                                        </ul>
                                    </div> -->
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>

                            </tbody>


                        </form>
                    </table>
                    </div>
                </div>
                <div class="admin-card-wrapper">
                    <div class="admin-card full">
                        <div class="inner-header">
                            <h2 class="admin-title font-serif">
                                Latest Feedbacks
                            </h2>
                            <button class="btn btn-primary btn-lg">View All</button>
                        </div>
                        <!-- table -->
                         <table class="inner-table admin-table-qs">
                        <form action="">
                            <!-- headings -->
                            <thead>
                                <tr class="heading-row">
                                    <th class="check-td"> <label class="theme-checkbox-label head-check"
                                            for="head-select-feed">
                                            <input type="checkbox" name="select" id="head-select-feed">
                                            <div class="theme-checkbox"></div>
                                        </label></th>
                                    <th class="s-no">S No.</th>
                                    <th class="author left-align">Related To</th>
                                    <th class="qasida left-align">Feedbacks</th>
                                    <th class="updated-by">Status</th>
                                    <th class="date-time">Date</th>
                                    <th class="action">Action</th>
                                </tr>
                            </thead>


                            <!-- row 1 -->
                            <tbody>
                                <tr>
                                    <td class="check-td">
                                        <label class="theme-checkbox-label" for="select-feed-1">
                                            <input type="checkbox" name="select" id="select-feed-1" class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label>
                                    </td>
                                    <td class="s-no">1</td>
                                    <td class="author left-align">Technical Issue</td>
                                    <td class="qasida left-align">
                                    I am not recieving daily digest update. 
                                    </td>
                                    <td class="updated-by">Under Review</td>
                                    <td class="date-time">21 Oct 2022</td>
                                    <td class="action">
                                        <div class="three-dot-wrap click"><img src="images/more_dots.svg">
                                        </div>
                                        <!-- Edit dropdown -->
                                        <div class="tool-dropdown">
                                            <ul>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#edit-qasida">Edit Qasida</li>
                                                <li>Edit Baits</li>
                                                <li>Preview</li>
                                                <li type="button" data-bs-toggle="modal" data-bs-target="#delete">
                                                    Delete
                                                </li>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#unpublish">
                                                    Unpublish</li>
                                            </ul>
                                        </div>
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>
                               
                                <tr>
                                    <td class="check-td">
                                        <label class="theme-checkbox-label" for="select-feed-2">
                                            <input type="checkbox" name="select" id="select-feed-2" class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label>
                                    </td>
                                    <td class="s-no">2</td>
                                    <td class="author left-align">Technical Issue</td>
                                    <td class="qasida left-align">
                                    I am not recieving daily digest update. 
                                    </td>
                                    <td class="updated-by">Under Review</td>
                                    <td class="date-time">21 Oct 2022</td>
                                    <td class="action">
                                        <div class="three-dot-wrap click"><img src="images/more_dots.svg">
                                        </div>
                                        <!-- Edit dropdown -->
                                        <div class="tool-dropdown">
                                            <ul>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#edit-qasida">Edit Qasida</li>
                                                <li>Edit Baits</li>
                                                <li>Preview</li>
                                                <li type="button" data-bs-toggle="modal" data-bs-target="#delete">
                                                    Delete
                                                </li>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#unpublish">
                                                    Unpublish</li>
                                            </ul>
                                        </div>
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>
                               
                                <tr>
                                    <td class="check-td">
                                        <label class="theme-checkbox-label" for="select-feed-3">
                                            <input type="checkbox" name="select-feed" id="select-feed-3" class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label>
                                    </td>
                                    <td class="s-no">3</td>
                                    <td class="author left-align">Technical Issue</td>
                                    <td class="qasida left-align">
                                    I am not recieving daily digest update. 
                                    </td>
                                    <td class="updated-by">Under Review</td>
                                    <td class="date-time">21 Oct 2022</td>
                                    <td class="action">
                                        <div class="three-dot-wrap click"><img src="images/more_dots.svg">
                                        </div>
                                        <!-- Edit dropdown -->
                                        <div class="tool-dropdown">
                                            <ul>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#edit-qasida">Edit Qasida</li>
                                                <li>Edit Baits</li>
                                                <li>Preview</li>
                                                <li type="button" data-bs-toggle="modal" data-bs-target="#delete">
                                                    Delete
                                                </li>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#unpublish">
                                                    Unpublish</li>
                                            </ul>
                                        </div>
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>
                               
                                <tr>
                                    <td class="check-td">
                                        <label class="theme-checkbox-label" for="select-feed-4">
                                            <input type="checkbox" name="select" id="select-feed-4" class="select-qasida">
                                            <div class="theme-checkbox"></div>
                                        </label>
                                    </td>
                                    <td class="s-no">4</td>
                                    <td class="author left-align">Technical Issue</td>
                                    <td class="qasida left-align">
                                    I am not recieving daily digest update. 
                                    </td>
                                    <td class="updated-by">Under Review</td>
                                    <td class="date-time">21 Oct 2022</td>
                                    <td class="action">
                                        <div class="three-dot-wrap click"><img src="images/more_dots.svg">
                                        </div>
                                        <!-- Edit dropdown -->
                                        <div class="tool-dropdown">
                                            <ul>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#edit-qasida">Edit Qasida</li>
                                                <li>Edit Baits</li>
                                                <li>Preview</li>
                                                <li type="button" data-bs-toggle="modal" data-bs-target="#delete">
                                                    Delete
                                                </li>
                                                <li type="button" data-bs-toggle="modal"
                                                    data-bs-target="#unpublish">
                                                    Unpublish</li>
                                            </ul>
                                        </div>
                                        <!-- edit dropdown end -->
                                    </td>

                                </tr>
                               

                            </tbody>


                        </form>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
