
    <header class="header admin-header" id="header">
        <div class="container-fluid">
            <div class="header-main d-flex align-items-center justify-content-between">
                <div class="header-left position-relative">
                    <div class="logo">
                        <a href="index.html"><img src="/assets/images/login.svg" class="img-fluid" /></a>
                    </div> 
                    <ul class="admin navigation-links desktop-nav">
                        <li><a href="quran.html">Quran</a></li>
                        <li><a href="hadees.html">Hadees</a></li>
                        <li><a href="kalaam.html">Kalaam</a></li>
                        <li><a href="aqwaal.html">Aqwaal</a></li>
                        <li><a href="qasaid.html">Qasaid</a></li>
                        <li><a href="marasi.html">Marasi</a></li>
                        <li><a href="nasihat.html">Nasihat</a></li>
                        <li><a href="qamoos.html">Qamoos</a></li>
                    </ul>
                </div>

                <div class="header-right d-flex align-items-center flex-row-reverse">
                    <div class="menu-wrapper">
                        <div class="hamburger-menu"></div>
                    </div>
                    <div class="profile-wrap">
                        <div class="d-none d-sm-flex align-items-center justify-content-between w-100">
                            <p class="name">Shaikh Mustafa Shaikh Mohammed Qutbi</p>
                            <div class="down">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="d-flex d-sm-none align-items-center justify-content-between w-100">
                            <p class="name"><img src="/assets/images/profile_icon.svg"></p>
                            <div class="down">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-links d-none d-sm-block">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">User</a></li>
            </ul>
        </div>
        <nav class="mobile-nav">
            <ul class="navigation-links mobile-navigation">
                <li><a href="quran.html">Quran</a></li>
                <li><a href="hadees.html">Hadees</a></li>
                <li><a href="kalaam.html">Kalaam</a></li>
                <li><a href="aqwaal.html">Aqwaal</a></li>
                <li><a href="qasaid.html">Qasaid</a></li>
                <li><a href="marasi.html">Marasi</a></li>
                <li><a href="nasihat.html">Nasihat</a></li>
                <li><a href="qamoos.html">Qamoos</a></li>
            </ul>

            <ul class="admin-mobile-links">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">User</a></li>
            </ul>
        </nav>
    </header>
    
  <router-outlet></router-outlet>